@import "tailwindcss";

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  font-family: var(--font-poppins);
}

.Toastify__toast {
  font-family: var(--font-poppins) !important;
  font-size: 14px;
}
